---
import MainLayout from "../layouts/MainLayout.astro";
---

<MainLayout
  title="Stacey Graham About Page"
  seoTitle="About Stacey Graham, Software Engineer"
  seoDesc="Hi there! My name is Stacey Graham, I'm a software engineer located in Atlanta, GA"
>
  <div class="w-6/12 mx-auto ">
    <h1 class="text-5xl">About</h1>
    <img
      src="/public/images/Stacey_Graham_floral_top.jpeg"
      width="200"
      height="200"
      class="my-2 shadow-md drop-shadow-[10px_10px_35px_rgba(39,245,131,0.6)]"
    />
    <p>
      I fell in love with technology in the 7th grade in my first computer class
      and from there my curiosity for technology began. I am passionate about
      coding and I love learning and problem-solving collaboratively in teams.
    </p>
  </div>
</MainLayout>
