---
import MainLayout from "../layouts/MainLayout.astro";
---

<MainLayout 
title="Stacey Graham's Projects"
seoTitle="Projects with Angular, React, Astro"
seoDesc="Award winning projects/apps with Angular, React, and node.js"
>
    <div class="w-8/12 lg:w-6/12 mx-auto">
        <h1 class="text-5xl my-2">Projects</h1>
    </div>
</MainLayout>
