---
import MainLayout from "../layouts/MainLayout.astro";
---

<MainLayout 
title="Stacey Graham's Projects"
seoTitle="Projects with Angular, React, Astro"
seoDesc="Award winning projects/apps with Angular, React, and node.js"
>
    <div class="w-8/12 lg:w-6/12 mx-auto">
        <h1 class="text-5xl my-5">Projects</h1>
        <div class="grid md:grid-cols-2 gap-6 shadow-md drop-shadow-[10px_5px_35px_rgba(39,245,131,0.6)]">
            <a href="/projects/pantry_chef"><img class="rounded-sm" src="/images/pantry_chef.jpg" width="300px" height="300px"/></a>
            <a href="/projects/random_quotes"><img class="rounded-sm" src="/images/random_quotes.jpg" width="300px" height="300px"/></a>
        </div>
    </div>
</MainLayout>
