---
import { Astronav, MenuItems, MenuIcon } from "astro-navbar";
---

<header>
    <Astronav>
        <div>
            <a>SG</a>
            <div><MenuIcon /></div>
        </div>
        <MenuItems>
            <ui>
                <li>Home</li>
                <li>About</li>
            </ui>
        </MenuItems>
    </Astronav>
</header>