---
import MainHead from "./MainHead.astro";
const { title, seoTitle, seoDesc} = Astro.props;
---

<html>
    <MainHead title={title} seoTitle={seoTitle} seoDesc={seoDesc}/>
    <body>
        <slot />
        <style>
            body {
                font-family: "Montserrat", sans-serif;
                min-height: 1
            }
        </style>
    </body>
</html>